h1, h2, h3, h4, h5 {
    font-family: Monda, sans-serif;
}

.cardDiv {
    text-align: center;

}

.personCards {
    width: 250px;
    display: inline-block;
}

.cardDiv {
    text-align: center;
}

md-toolbar img {
    margin: 0 auto 0 auto;
}

.md-theme-nerdery, md-sidenav {
    background-color: #423e34 !important;
}

.ngviewbackground {
    background-image: url(../images/background.jpg);
}


html {
    background: url(../images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



md-card {
    text-align: center;
    background-color: #423e34;
    opacity: 0.75;
}

md-card img {
    padding: 15px 15px 0 0;
}

md-card h2 {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    color: #d7c500;
}

md-card h3 {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    color: #FFFFFF;
}

.navButton {
    background-color: #8a9b92;
    color: #FFFFFF;
}

.md-fab {
    background-color: #423e34 !important;
    position: absolute;
}

md-sidenav, md-sidenav.md-locked-open {
    width: 220px;
    min-width: 220px;
    max-width: 220px;
}

.nameh2 {
    padding-top: 0;
    margin-top: 0;
    display: inline;
}

.viewPersonContainer {
    background-color: #423e34;
    opacity: 0.8;
    box-shadow: 0 1px 1px 2px #302d27;
    margin-bottom: 12px;
}

.viewPersonContainer h3, h4, h5, p, li {
    color: #FFFFFF;
}

.viewPersonContainer h2, .viewPersonContainer h2:hover {
    color: #98bcb8;
}

.viewPersonContainer a {
    color: #d7c500;
}

.paddingContainer {
    padding: 10px 10px 10px 10px;
}

.contact {
    margin-left: 10px;
}

.editable-click {
    border-bottom: none;
}

h3.editable-click, h4.editable-click, h5.editable-click, p.editable-click, li.editable-click, h3.editable-click:hover, h4.editable-click:hover, h5.editable-click:hover, p.editable-click:hover, li.editable-click:hover {
    color: #FFFFFF;
}

.displayInline {
    display: inline;
}

.displayInlineBlock {
    display: inline-block;
}

.positionDiv {
    margin-bottom: 10px;
}

.sectionLabel {
    padding-top: 0;
    margin-top: 0;
}

.centeredViewButton {
    background-color: #8a9b92;
    color: #FFFFFF;
}

.centerAllTheButtons {
    text-align: center;
}

.editurl {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    font-size: 12px;
}

.topediturl {
    padding: 0 0 0 0;
    margin: -14px 0 14px 0;
    font-size: 12px;
}

.rightSocialDiv {
    margin-top: 17px;
}

/*#photocard {*/
    /*height: 350px;*/
/*}*/

.forminputs {
    background-color: #8a9b92;
}

.forminputs label{
   color:#000000;
}

.md-secondary  {
    margin-top: 30px;
    background-color:#423e34;
    color: #FFFFFF;

}

.thumb {
    width: 24px;
    height: 24px;
    float: none;
    position: relative;
    top: 7px;
}

form .progress {
    line-height: 15px;
}

.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}

.progress div {
    font-size: smaller;
    background: rgb(63,81,181);
    width: 0;
}

.imagePreview {
    height: 100px;
    width: 100px;
}