<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="vendors/angular-material/angular-material.min.css"/>
    <link rel="stylesheet" href="assets/styles/loginstyle.css"/>
</head>
<body ng-controller="LoginController">
    <md-whiteframe class="md-whiteframe-z5" layout="column" layout-align="space-around center">
        <img id="logo" src="assets/images/nerdery_logo_single.png"/>
        <!-- Warning text -->
        <h2>Halt! Who goes there?</h2>
        <p>Please sign in with Google to continue using this application.</p>
        <button ng-click="loginClicked()">Sign In</button>
    </md-whiteframe>
    <!-- BEGIN SCRIPT -->
    <script type="text/javascript" src="/vendors/angular/angular.min.js"></script>
    <script type="text/javascript" src="/vendors/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="/vendors/angular-aria/angular-aria.min.js"></script>
    <script type="text/javascript" src="/vendors/angular-material/angular-material.min.js"></script>
    <script type="text/javascript" src="vendors/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="vendors/angular-messages/angular-messages.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/app.js"></script>
    <script type="text/javascript" src="/assets/scripts/controllers/LoginController.js"></script>
    <!-- END SCRIPT -->
</body>
</html>