<!DOCTYPE html>
<html lang="en" ng-app="loginApp">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Login</title>

    <!--BEGIN STYLES -->
    <link rel="stylesheet" href="../vendors/angular-material/angular-material.min.css"/>
    <link rel="stylesheet" href="../vendors/angular-xeditable-0.1.8/css/xeditable.css"/>
    <link rel="stylesheet" href="../assets/styles/loginstyle.css"/>


    <!-- BEGIN SCRIPT -->
    <script type="text/javascript" src="../vendors/angular/angular.min.js"></script>
    <script type="text/javascript" src="../vendors/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="../vendors/angular-aria/angular-aria.min.js"></script>
    <script type="text/javascript" src="../vendors/angular-material/angular-material.min.js"></script>
    <script type="text/javascript" src="../assets/scripts/loginApp.js"></script>
    <script type="text/javascript" src="../assets/scripts/controllers/LoginController.js"></script>
</head>
<body ng-controller="LoginController">
    <md-whiteframe class="md-whiteframe-z5" layout="column" layout-align="space-around center">
        <img id="logo" src="../assets/images/nerdery_logo_single.png"/>
        <!-- Warning text -->
        <h2>Halt! Who goes there?</h2>
        <p>Please sign in with Google to continue using this application.</p>
        <div layout="row">
            <img id="signIn" ng-click="loginClicked()" src="../assets/images/google_button.png"/>
            <md-progress-circular ng-show="isLoggingIn" md-diameter="25px"></md-progress-circular>
        </div>
    </md-whiteframe>
</body>
</html>