<div flex-sm="100" flex-gt-sm="90" flex-gt-md="70" flex-gt-lg="50">
    <div layout="row" layout-align="center">
        <md-card class="forminputs" flex>

            <!-- CONTACT INFORMATION -->
            <h4>Contact Information:</h4>
            <div layout="row">
                <md-input-container flex="40">
                    <label>Full Name</label>
                    <input type="text" ng-model="profile.contact.fullName"/>
                </md-input-container>
                <md-input-container flex>
                    <label>Email Address (required field)</label>
                    <input ng-model="profile.contact.emailAddress">
                </md-input-container>
            </div>
            <md-input-container>
                <label>Phone Number</label>
                <input ng-model="profile.contact.phoneNumber">
            </md-input-container>
            <h4>Social Media:</h4>
            <div layout="row">
                <md-input-container flex="25">
                    <label>Twitter Id:</label><input ng-model="profile.socialMedia.twitter" />
                </md-input-container>
                <md-input-container flex="25">
                    <label> LinkedIn Id:</label><input ng-model="profile.contact.socialMedia.linkedIn.id" />
                </md-input-container>
                <md-input-container flex="25">
                    <label>Facebook Id:</label><input ng-model="profile.contact.socialMedia.facebook.id" />
                </md-input-container>
                <md-input-container flex="25">
                    <label>Instagram Id:</label><input ng-model="profile.contact.socialMedia.instagram.id"/>
                </md-input-container>
            </div>
            <md-input-container>
                <label>Personal or Company Website</label>
                <input ng-model="profile.contact.website"/>
            </md-input-container>
            <h4>Address:</h4>
            <div layout="row">
                <md-input-container flex="50">
                    <label>Street</label>
                    <input type="text" ng-model="profile.physicalAddress.street"/>
                </md-input-container>
                <md-input-container flex="25">
                    <label>City</label>
                    <input ng-model="profile.physicalAddress.city"/>
                </md-input-container>
                <md-input-container flex="15">
                    <label>State</label>
                    <input ng-model="profile.physicalAddress.state"/>
                </md-input-container>
                <md-input-container flex="10">
                    <label>Zip Code</label>
                    <input type="number" ng-model="profile.physicalAddress.zipCode"/>
                </md-input-container>
            </div>
        </md-card>

        <!-- FILE UPLOADING -->
        <md-card class="forminputs" flex="25">
            <img id="addPersonImage" ng-src="{{profile.bio.imageUrl}}"/>
            <label> Add An Image From The Web:</label>
            <input id="photoInput" type="text" ng-model="profile.bio.imageUrl"/>
            <input type="file" name="photo" nv-file-select Uploader="uploader"/><br/>
        </md-card>
    </div>

    <!--Bio Section-->
    <md-card class="forminputs">
        <h4>CONNECTING POINTS:</h4>
        <md-input-container>
            <label>Summary</label>
            <input ng-model="profile.bio.summary"/>
        </md-input-container>

        <div layout="row">
            <md-input-container flex="10">
                <label>Age</label>
                <input ng-model="profile.bio.age"/>
            </md-input-container>

            <md-input-container flex="20">
                <label>Birthday</label>
                <input ng-model="profile.birthday"/>
            </md-input-container>

            <md-radio-group ng-model="profile.bio.gender" layout="row"/>
            <md-radio-button value="Female" aria-label="Label 1">Female</md-radio-button>
            <md-radio-button value="Male" aria-label="Label 2">Male</md-radio-button>
            </md-radio-group>
        </div>
    </md-card>

    <!--Interests-->
    <div layout="row" layout-align="center">
        <md-card class="forminputs" flex>
            <h4>INTERESTS</h4>
            <md-input-container>
                <label>Interests</label>
                <input ng-model="newInterest.name"/>
            </md-input-container>
        </md-card>
        <md-card class="forminputs" flex="30">
            <md-button class="md-primary addInfoButton" ng-click="addInt(newInterest)">Add Int.</md-button>
            <div layout="row" layout-align="center" ng-repeat="activity in profile.bio.interests">
                <md-card class="forminputs" flex>
                    <h5>{{activity.name}}</h5>
                </md-card>
                <md-card class="forminputs removeButton" flex="10" ng-click="removeInt($index)">
                </md-card>
            </div>
        </md-card>
    </div>

    <!--Organizations-->
    <div layout="row" layout-align="center">
        <md-card class="forminputs" flex>
            <h4>WORK HISTORY AND ORGANIZATIONS:</h4>
            <md-input-container>
                <label>Title</label>
                <input ng-model="newWork.title"/>
            </md-input-container>

            <md-input-container>
                <label>Organization Name</label>
                <input ng-model="newWork.name"/>
            </md-input-container>
            <div layout="row">
                <md-input-container>
                    <label>Start Date</label>
                    <input ng-model="newWork.startDate"/>
                </md-input-container>

                <md-input-container>
                    <label>End Date</label>
                    <input ng-model="newWork.endDate"/>
                </md-input-container>
            </div>
            <h4>Current Occupation?</h4>
            <md-radio-group ng-model="newWork.isCurrent" layout="row">
                <md-radio-button value="Yes" aria-label="yes">Yes</md-radio-button>
                <md-radio-button value="No" aria-label="no">No</md-radio-button>
            </md-radio-group>
        </md-card>
        <md-card class="forminputs" flex="30">
            <md-button class="md-primary addInfoButton" ng-click="addWork(newWork)">Add Job</md-button>
            <div layout="row" layout-align="center" ng-repeat="work in profile.workHistory">
                <md-card class="forminputs" flex>
                    <h5>{{work.name}}</h5>
                </md-card>
                <md-card class="forminputs removeButton" flex="10" ng-click="removeWork($index)">
                </md-card>
            </div>

        </md-card>
    </div>


    <!--Affiliations-->
    <div layout="row" layout-align="center">
        <md-card class="forminputs" flex>
            <h4>AFFILIATIONS, NON-PROFIT AND VOLUNTEER WORK</h4>
            <md-input-container>
                <label>Name of Organization</label>
                <input ng-model="newAffiliation.name"/>
            </md-input-container>

            <md-input-container>
                <label>Role within the Organization</label>
                <input ng-model="newAffiliation.title"/>
            </md-input-container>

            <md-input-container>
                <label>Summary:</label>
                <input ng-model="newAffiliation.summary"/>
            </md-input-container>
        </md-card>
        <md-card class="forminputs" flex="30">
            <md-button class="md-primary addInfoButton" ng-click="addAff(newAffiliation)">Add Aff.</md-button>
            <div layout="row" layout-align="center" ng-repeat="affiliated in profile.affiliation">
                <md-card class="forminputs" flex>
                    <h5>{{affiliated.name}}</h5>
                </md-card>
                <md-card class="forminputs removeButton" flex="10" ng-click="removeAff($index)">
                </md-card>
            </div>
        </md-card>
    </div>

    <!--Meeting-->
    <div layout="row" layout-align="center">
        <md-card class="forminputs" flex>
            <h4>Meetings</h4>
            <div layout="column">
                <div layout="row">
                    <md-input-container>
                        <label>Date:</label>
                        <input ng-model="newMeeting.startDate">
                    </md-input-container>
                    <md-button class="md-raised" ng-click="openMeetingDialog()">Select Time</md-button>
                </div>
                <md-input-container>
                    <label>Notes:</label>
                    <input ng-model="newMeeting.notes">
                </md-input-container>
            </div>
        </md-card>
        <md-card class="forminputs" flex="30">
            <md-button class="md-primary addInfoButton" ng-click="addMeeting(newMeeting)">Add Meeting</md-button>
            <div layout="row" layout-align="center" ng-repeat="meeting in profile.meeting">
                <md-card class="forminputs" flex>
                    <h5>{{meeting.startDate}}</h5>
                </md-card>
                <md-card class="forminputs removeButton" flex="10" ng-click="removeMeeting($index)">
                </md-card>
            </div>
        </md-card>
    </div>

    <!--Education-->
    <div layout="row" layout-align="center">
        <md-card class="forminputs" flex>
            <h4>EDUCATIONAL BACKGROUND</h4>
            <md-input-container>
                <label>Institution</label>
                <input ng-model="newEducation.institution"/>
            </md-input-container>
            <div layout="row">
                <md-input-container>
                    <label>Start Date</label>
                    <input ng-model="newEducation.startDate"/>
                </md-input-container>

                <md-input-container>
                    <label>End Date</label>
                    <input ng-model="newEducation.endDate"/>
                </md-input-container>
            </div>
            <md-input-container>
                <label>Summary</label>
                <input ng-model="newEducation.summary"/>
            </md-input-container>
        </md-card>
        <md-card class="forminputs" flex="30">
            <md-button class="md-primary addInfoButton" ng-click="addEdu(newEducation)">Add Edu.</md-button>
            <div layout="row" layout-align="center" ng-repeat="institute in profile.education">
                <md-card class="forminputs" flex>
                    <h5>{{institute.institution}}</h5>
                </md-card>
                <md-card class="forminputs removeButton" flex="10" ng-click="removeEdu($index)">
                </md-card>
            </div>
        </md-card>
    </div>

    <!--Relationships-->
    <div layout="row" layout-align="center">
        <md-card class="forminputs" flex>
            <h4>RELATIONSHIPS </h4>
            <md-input-container>
                <label>Name of Significant Other</label>
                <input ng-model="newRelationship.name"/>
            </md-input-container>

            <md-input-container>
                <label>Relationship</label>
                <input ng-model="newRelationship.relationship"/>
            </md-input-container>
            <md-input-container>
                <label>Details Regarding Significant Other </label>
                <input ng-model="newRelationship.summary"/>
            </md-input-container>
        </md-card>
        <md-card class="forminputs" flex="30">
            <md-button class="md-primary addInfoButton" ng-click="addRel(newRelationship)">Add Rel.</md-button>
            <div layout="row" layout-align="center" ng-repeat="relationship in profile.relationships">
                <md-card class="forminputs" flex>
                    <h5>{{relationship.name}}</h5>
                </md-card>
                <md-card class="forminputs removeButton" flex="10" ng-click="removeRel($index)">
                </md-card>
            </div>
        </md-card>
    </div>

    <!--News -->
    <div layout="row" layout-align="center">
        <md-card class="forminputs" flex>
            <h4>NEWS COVERAGE </h4>
            <md-input-container>
                <label>Summary</label>
                <input ng-model="newNews.summary"/>
            </md-input-container>
            <md-input-container>
                <label>Type of Organization</label>
                <input ng-model="newNews.url"/>
            </md-input-container>
        </md-card>
        <md-card class="forminputs" flex="30">
            <md-button class="md-primary addInfoButton" ng-click="addNews(newNews)">Add News</md-button>
            <div layout="row" layout-align="center" ng-repeat="news in profile.newsCoverage">
                <md-card class="forminputs" flex>
                    <h5>{{news.summary}}</h5>
                </md-card>
                <md-card class="forminputs removeButton" flex="10" ng-click="removeNews($index)">
                </md-card>
            </div>
        </md-card>
    </div>

    <!--Notes-->
    <div layout="row" layout-align="center">
        <md-card class="forminputs" flex>
            <h4>NOTES:</h4>
            <md-input-container>
                <label>Note</label>
                <input ng-model="profile.notes"/>
            </md-input-container>
        </md-card>
    </div>

    <!--Medical Summary -->
    <div layout="row" layout-align="center">
        <md-card class="forminputs" flex>
            <h4>MEDICAL INFORMATION:</h4>
            <md-input-container>
                <label>Medical Summary</label>
                <input ng-model="profile.medical"/>
            </md-input-container>
        </md-card>
    </div>

    <md-button id="dialogButton" class="md-primary navButton  md-raised" ng-click="submit()" flex="" flex-md="100">
        Submit Profile
    </md-button>
    <md-button id="dialogButton"  class="md-primary navButton md-raised" ng-click="resetForm()">
        Clear Form Data
    </md-button>
</div>