<md-input-container>
    <label>SEARCH FOR PROFILE: </label>
    <input type="search" ng-model="searchProfile"/>
</md-input-container>

<div layout="row" flex layout-align="space-around center" layout-wrap>
    <md-card class="personCards" ng-repeat="profile in allProfiles | filter:searchProfile" ng-click="editPerson(profile.contact.emailAddress)">
        <md-card-content>
            <img ng-src="{{profile.bio.imageUrl}}" height="250" width="220"/>
            <h2>{{profile.contact.fullName}}</h2>
            <p>{{profile.contact.emailAddress}}</p>
        </md-card-content>
    </md-card>
</div>