<div layout="row" flex layout-align="space-around center" layout-wrap>
    <!--search for profile within all profiles-->
    <md-input-container>
        <aria-label>SEARCH FOR PROFILE: <input type="search" ng-model="searchProfile"/></aria-label>
    </md-input-container>


    <md-card class="personCards" ng-repeat="profile in allProfiles | filter:searchProfile" ng-click="editPerson(profile.contact.emailAddress)">
        <md-card-content>
            <img ng-src="{{profile.bio.imageUrl}}" height="250" width="220"/>
            <h2>{{profile.contact.fullName}}</h2>
            <p>{{profile.contact.emailAddress}}</p>
        </md-card-content>
    </md-card>
</div>