<div class="cardDiv">
    <div ng-repeat="event in events">
            <h1>
                {{event.startTime}}
            </h1>
            <md-card class="personCards" ng-repeat="profile in event.attendees" ng-click="editPerson(profile)">
                <md-card-content>
                    <img ng-src="{{profile.imageURL}}" height="250" width="220"/>
                    <h2>{{profile.name}}</h2>
                    <p>{{profile.email}}</p>
                </md-card-content>
            </md-card>
            <button class="addPerson" ng-click="addPerson(event.startTime)">Add Person</button>
    </div>
</div>