<section id="viewperson">
    <div class="viewPersonContainer">
        <div class="paddingContainer" layout-sm="column" layout-gt-sm="row">
            <div>
                <img src={{Person.bio.photo.url}} height="265" width="200"/>
            </div>
            <div flex="80" class="contact">
                <div>
                    <h2 class="nameh2" editable-text="Person.contact.givenName">{{Person.contact.givenName || "empty"}} </h2>
                    <h2 class="nameh2" editable-text="Person.contact.familyName">{{Person.contact.familyName || "empty"}}</h2>
                </div>
                <p editable-text="Person.contact.middleName">{{fullName}}</p>
                <div class="positionDiv">
                    <h3 class="displayInline" editable-text="Person.organizations[0].title">{{Person.organizations[0].title}}</h3>
                    <h3 class="displayInline"> at <a href={{Person.contact.websites[0].url}}>{{Person.contact.websites[0].name}}</a></h3>
                    <!--I used [0] as the array index since there was only 1 organization, what do we do when there are more? How to iterate + bind?-->
                </div>
                <div>
                    <p class="displayInline" editable-text="Person.organizations[0].startDate">from: {{Person.organizations[0].startDate}}</p>
                    <p class="displayInline" editable-text="Person.organizations[0].endDate"> to {{Person.organizations[0].endDate}}</p>
                </div>
                <div layout="row" layout-sm="column">
                <div flex="40">
                    <p editable-text="Person.contact.emailAddress">{{Person.contact.emailAddress || "empty"}}</p>
                    <p><a href={{Person.contact.socialMedia.twitter.url}}>{{Person.contact.socialMedia.twitter.handle}}</a> on Twitter</p>
                </div>
                <div flex="40">
                    <p><a href={{Person.contact.socialMedia.linkedIn.url}}>{{Person.contact.socialMedia.linkedIn.id}}</a> on LinkedIn</p>
                    <p><a href={{Person.contact.socialMedia.facebook.url}}>{{Person.contact.socialMedia.facebook.id}}</a> on Facebook</p>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="viewPersonContainer paddingContainer">
        <h2 class="sectionLabel">Next Meeting</h2>
        <div>
            <p class="displayInline" editable-text="Person.meeting[0].date">Meeting on {{Person.meeting[0].date || "empty"}}, </p>
            <p class="displayInline" editable-text="Person.meeting[0].time">at {{Person.meeting[0].time || "empty"}}</p>
        </div>
        <p editable-text="Person.meeting[0].notes">Of note: {{Person.meeting[0].notes || "empty"}}</p>
    </div>
    <div class="viewPersonContainer paddingContainer">
        <h2 class="sectionLabel">Summary</h2>
        <div>
            <p class="displayInline" editable-text="Person.contact.birthday">Birthday: {{Person.bio.birthday || "empty"}}, </p>
            <p class="displayInline" editable-text="Person.contact.age">{{Person.bio.age || "empty"}} years old, </p>
            <p class="displayInline" editable-text="Person.contact.gender">{{Person.bio.gender || "empty"}}</p>
        </div>
        <div>
            <p class="displayInline" editable-text="Person.contact.physicalAddresses[0].street">{{Person.contact.physicalAddresses[0].street || "empty"}} </p>
            <p class="displayInline" editable-text="Person.contact.physicalAddresses[0].city">{{Person.contact.physicalAddresses[0].city || "empty"}}, </p>
            <p class="displayInline" editable-text="Person.contact.physicalAddresses[0].state">{{Person.contact.physicalAddresses[0].state || "empty"}} </p>
            <p class="displayInline" editable-text="Person.contact.physicalAddresses[0].zipCode">{{Person.contact.physicalAddresses[0].zipCode || "empty"}}</p>
        </div>
        <p editable-textarea="Person.bio.summary" e-rows="5">{{Person.bio.summary || "empty"}}</p>
        <!--the width of the text area can be set by using e-cols="X"-->
    </div>
    <div class="viewPersonContainer paddingContainer">
        <h2 class="sectionLabel">Interests</h2>

        <!--experiments!!!-->
        <div ng-repeat="note in Person.bio.interests">
            <span editable-text="note.name" e-form="interestsForm" shown="true"> {{note.name}} </span>
            <button ng-click="interestsForm.$show()" ng-show="!interestsForm.$visible">edit</button>
            <form editable-form name="interestsForm" shown="$last && note.isNew" ng-show="interestsForm.$visible">
                <button type="submit">save</button>
                <button type="button" ng-click="interestsForm.$cancel()">cancel</button>
            </form>
            <br />
        </div>


        <pre>{{Person.bio.interests | json}}</pre>

        <!--end experiments!-->
        <!--start example-->

        <!--<div ng-repeat="item in items">-->
            <!--<span editable-text="item.value" e-form="form" shown="true"> {{item.value}} </span>-->
            <!--<button ng-click="form.$show()" ng-show="!form.$visible">edit</button>-->
            <!--<form editable-form name="form" shown="$last && item.isNew" ng-show="form.$visible">-->
                <!--<button type="submit">save</button>-->
                <!--<button type="button" ng-click="form.$cancel()">cancel</button>-->
            <!--</form>-->
            <!--<br />-->
        <!--</div>-->
        <!--<br>-->
        <!--<button ng-click="addItem()">add</button>-->

        <!--<pre>  {{ items | json}}</pre>-->

        <!--end example-->


        <ul class="displayInlineBlock" ng-repeat="note in Person.bio.interests">
            <li>{{note.name}}</li>
            <!--need to find a way to databind to the object key/value within the interests array-->
            <!--how do we add another interest?-->
        </ul>
        <br>
        <button ng-click="addInterest()">add</button>
    </div>
    <div class="viewPersonContainer paddingContainer">
        <h2 class="sectionLabel">Education</h2>
        <div>
            <p class="displayInline" editable-text="Person.education[0].institution">{{Person.contact.givenName}} studied at {{Person.education[0].institution || "empty"}} </p>
            <p class="displayInline" editable-text="Person.education[0].startDate">from {{Person.education[0].startDate || "empty"}} to </p>
            <p class="displayInline" editable-text="Person.education[0].endDate">{{Person.education[0].endDate || "empty"}} </p>
            <p class="displayInline" editable-text="Person.education[0].type">in the School of {{Person.education[0].type || "empty"}}, </p>
            <p class="displayInline" editable-text="Person.education[0].degree">where they earned a {{Person.education[0].degree || "empty"}}.</p>
        </div>
    </div>
    <div class="viewPersonContainer paddingContainer">
        <h2 class="sectionLabel">Affiliations</h2>
        <div>
            <div>
                <h3 class="displayInline" editable-text="Person.affiliation[0].title">{{Person.affiliation[0].title || "empty"}}, at </h3>
                <h3 class="displayInline" editable-text="Person.affiliation[0].name">{{Person.affiliation[0].name || "empty"}}</h3>
                <h3 class="displayInline" editable-text="Person.affiliation[0].type">, a {{Person.affiliation[0].type || "empty"}}</h3>
                <p editable-text="Person.affiliation[0].summary">{{Person.affiliation[0].summary || "empty"}}</p>
            </div>
            <div>
                <h3 class="displayInline" editable-text="Person.affiliation[1].type">{{Person.affiliation[1].type || "empty"}}, </h3>
                <h3 class="displayInline" editable-text="Person.affiliation[1].title">{{Person.affiliation[1].title || "empty"}}, at </h3>
                <h3 class="displayInline" editable-text="Person.affiliation[1].name">{{Person.affiliation[1].name || "empty"}}</h3>
                <h3 class="displayInline" editable-text="Person.affiliation[1].type">, a {{Person.affiliation[1].type || "empty"}}</h3>
                <p editable-text="Person.affiliation[1].summary">{{Person.affiliation[1].summary || "empty"}}</p>
            </div>
            <div>
                <h3 class="displayInline" editable-text="Person.affiliation[2].title">{{Person.affiliation[2].title || "empty"}}, at </h3>
                <h3 class="displayInline" editable-text="Person.affiliation[2].name">{{Person.affiliation[2].name || "empty"}}</h3>
                <h3 class="displayInline" editable-text="Person.affiliation[2].type">, a {{Person.affiliation[2].type || "empty"}}</h3>
                <p editable-text="Person.affiliation[2].summary">{{Person.affiliation[2].summary || "empty"}}</p>
            </div>
        </div>
    </div>
    <div class="viewPersonContainer paddingContainer">
        <h2 class="sectionLabel">Recent News Coverage</h2>
        <div>
            <h3 editable-text="Person.newsCoverage[0].type">{{Person.newsCoverage[0].type || "empty"}}</h3>
            <p editable-text="Person.newsCoverage[0].summary">{{Person.newsCoverage[0].summary || "empty"}}</p>
            <p>Link to article <a href={{Person.newsCoverage[0].url}}>{{Person.newsCoverage[0].url}}</a></p>
        </div>
        <div>
            <h3 editable-text="Person.newsCoverage[1].type">{{Person.newsCoverage[1].type || "empty"}}</h3>
            <p editable-text="Person.newsCoverage[1].summary">{{Person.newsCoverage[1].summary || "empty"}}</p>
            <p>Link to article <a href={{Person.newsCoverage[1].url}}>{{Person.newsCoverage[1].url}}</a></p>
        </div>
    </div>
    <div class="viewPersonContainer paddingContainer">
        <h2 class="sectionLabel">Relationships</h2>
        <h3 editable-text="Person.relationships[0].name">{{Person.relationships[0].name || "empty"}}</h3>
        <p editable-text="Person.relationships[0].summary">{{Person.relationships[0].summary || "empty"}}</p>
        <!--- arrays need to be dealt with whenever solution becomes available---->
    </div>
    <div class="viewPersonContainer paddingContainer">
        <h2 class="sectionLabel">Medical</h2>
        <h3 editable-text="Person.medical.summary">{{Person.medical.summary || "empty"}}</h3>
        <p editable-text="Person.medical.physicalCharacteristics">{{Person.medical.physicalCharacteristics || "empty"}}</p>
        <p editable-text="Person.medical.complications">{{Person.medical.complications || "empty"}}</p>
    </div>
</section>