<section id="viewperson">
    <div class="viewPersonContainer">
        <div class="paddingContainer" layout-sm="column" layout-gt-sm="row">
            <div layout="column">
                <img id="addPersonImage" ng-src="{{Person.bio.imageUrl}}"/>
                <!--<img id="addPersonImage" ng-src="{{uploadedUrl}}"/>-->
                <label> Add An Image From The Web:</label>
                <input id="photoInput" type="text" ng-model="Person.bio.imageUrl"/>
                <input type="file" name="photo" nv-file-select Uploader="uploader"/><br/>

            </div>
            <div flex="70" class="contact">
                <div>
                    <h2 class="nameh2" editable-text="Person.contact.fullName" e-placeholder="Enter Full Name">{{Person.contact.fullName || "Full Name"}}</h2>
                </div>
                <hr>
                <div class="positionDiv">
                    <h3 class="displayInline">{{currentEmployer.title}}</h3>
                    <h3 class="displayInline"> at {{currentEmployer.name}}</h3>
                </div>
                <div>
                    <p class="displayInline">from: {{currentEmployer.startDate}}</p>
                    <p class="displayInline"> to {{currentEmployer.endDate}}</p>
                </div>
                <hr>
                <div layout="row" layout-sm="column">
                    <div flex="40">
                        <!--add personal website?-->
                        <p>{{Person.contact.emailAddress}}</p>
                        <p editable-text="Person.contact.phoneNumber" e-placeholder="Enter Phone Number">{{Person.contact.phoneNumber || "Phone Number"}}</p>
                        <div>
                            <p class="displayInline"><a href={{Person.contact.socialMedia.twitter.url}}>{{Person.contact.socialMedia.twitter.handle || "Twitter Handle"}}</a></p>
                            <p class="displayInline" editable-text="Person.contact.socialMedia.twitter.handle" e-placeholder="Enter Twitter Handle"> on Twitter</p>
                        </div>
                        <p class="editurl" editable-text="Person.contact.socialMedia.twitter.url" e-placeholder="Enter Twitter URL">Edit URL</p>
                    </div>
                    <div flex="40" class="rightContactDiv">
                        <div>
                            <p class="displayInline"><a href={{Person.contact.website}}>{{Person.contact.website}}</a></p>
                            <p class="displayInline"> - Personal Website</p>
                        </div>
                        <p class="editurl" editable-text="Person.contact.website" e-placeholder="Enter Web Address">Edit Web Address</p>
                        <div>
                            <p class="displayInline"><a href={{Person.contact.socialMedia.linkedIn.url}}>{{Person.contact.socialMedia.linkedIn.id || "LinkIn ID"}}</a></p>
                            <p class="displayInline" editable-text="Person.contact.socialMedia.linkedIn.id" e-placeholder="Enter LinkedIn ID"> on LinkedIn</p>
                        </div>
                        <p class="editurl" editable-text="Person.contact.socialMedia.linkedIn.url" e-placeholder="Enter LinkedIn URL">Edit URL</p>
                        <div>
                            <p class="displayInline"><a href={{Person.contact.socialMedia.facebook.url}}>{{Person.contact.socialMedia.facebook.id || "Facebook ID"}}</a></p>
                            <p class="displayInline" editable-text="Person.contact.socialMedia.facebook.id" e-placeholder="Enter Facebook ID"> on Facebook</p>
                        </div>
                        <p class="editurl" editable-text="Person.contact.socialMedia.facebook.url" e-placeholder="Enter Facebook URL">Edit URL</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="viewPersonContainer paddingContainer">
        <h2 class="sectionLabel">Events</h2>
        <hr>
        <div ng-repeat="event in Person.events | orderBy: 'startDate' track by $index">
            <p><a ng-href="{{event.htmlLink}}">{{event.startDate | date}} - {{event.summary}}</a></p>
        </div>
    </div>

    <div class="viewPersonContainer paddingContainer">
        <h2 class="sectionLabel">Meetings</h2>
        <hr>
        <div ng-repeat="meet in Person.meeting">
            <div>
                <p class="displayInline" editable-text="meet.date" e-form="meetDateForm" shown="true" e-placeholder="Enter Date" ng-click="meetDateForm.$show()" ng-show="!meetDateForm.$visible">Meeting on {{meet.date || "Enter Date"}}, </p>
                <form editable-form name="meetDateForm" shown="$last && meet.isNew" ng-show="meetDateForm.$visible">
                    <button type="submit">save</button>
                    <button type="button" ng-click="meetDateForm.$cancel()">cancel</button>
                </form>
                <p class="displayInline" editable-text="meet.time" e-form="meetTimeForm" shown="true" e-placeholder="Enter Time" ng-click="meetTimeForm.$show()" ng-show="!meetTimeForm.$visible">at {{meet.time || "Enter Time"}}</p>
                <form editable-form name="meetTimeForm" shown="$last && meet.isNew" ng-show="meetTimeForm.$visible">
                    <button type="submit">save</button>
                    <button type="button" ng-click="meetTimeForm.$cancel()">cancel</button>
                </form>
            </div>
            <p editable-text="meet.note" e-form="meetNoteForm" shown="true" e-placeholder="Enter Note" ng-click="meetNoteForm.$show()" ng-show="!meetNoteForm.$visible">Of note: {{meet.note || "Enter Note"}}</p>
            <form editable-form name="meetNoteForm" shown="$last && meet.isNew" ng-show="meetNoteForm.$visible">
                <button type="submit">save</button>
                <button type="button" ng-click="meetNoteForm.$cancel()">cancel</button>
            </form>
        </div>
        <div class="centerAllTheButtons">
            <md-button class="centeredViewButton" ng-click="addMeeting()">add</md-button>
        </div>
    </div>
    <div class="viewPersonContainer paddingContainer">
        <h2 class="sectionLabel">Work History</h2>
        <hr>
        <div ng-repeat="employer in Person.workHistory">
            <div class="positionDiv">
                <h3 class="displayInline" editable-text="employer.title" e-form="empTitleForm" shown="true" e-placeholder="Employee Title" ng-click="empTitleForm.$show()" ng-show="!empTitleForm.$visible">{{employer.title || "Enter Title"}}</h3>
                <form editable-form name="empTitleForm" shown="$last && employer.isNew" ng-show="empTitleForm.$visible">
                    <button type="submit">save</button>
                    <button type="button" ng-click="empTitleForm.$cancel()">cancel</button>
                </form>
                <h3 class="displayInline" editable-text="employer.name" e-form="empNameForm" shown="true" e-placeholder="Employer Name" ng-click="empNameForm.$show()" ng-show="!empNameForm.$visible"> at {{employer.name || "Enter Name"}}</h3>
                <form editable-form name="empNameForm" shown="$last && employer.isNew" ng-show="empNameForm.$visible">
                    <button type="submit">save</button>
                    <button type="button" ng-click="empNameForm.$cancel()">cancel</button>
                </form>
            </div>
            <div>
                <p class="displayInline" editable-text="employer.startDate" e-form="empStartDateForm" shown="true" e-placeholder="Emp Start Date" ng-click="empStartDateForm.$show()" ng-show="!empStartDateForm.$visible">From: {{employer.startDate || "Enter Start Date"}}</p>
                <form editable-form name="empStartDateForm" shown="$last && employer.isNew" ng-show="empStartDateForm.$visible">
                    <button type="submit">save</button>
                    <button type="button" ng-click="empStartDateForm.$cancel()">cancel</button>
                </form>
                <p class="displayInline" editable-text="employer.endDate" e-form="empEndDateForm" shown="true" e-placeholder="Emp End Date" ng-click="empEndDateForm.$show()" ng-show="!empEndDateForm.$visible"> to {{employer.endDate || "Enter End Date"}}</p>
                <form editable-form name="empEndDateForm" shown="$last && employer.isNew" ng-show="empEndDateForm.$visible">
                    <button type="submit">save</button>
                    <button type="button" ng-click="empEndDateForm.$cancel()">cancel</button>
                </form>
                <hr>
            </div>
        </div>
        <div class="centerAllTheButtons">
            <md-button class="centeredViewButton" ng-click="addEmployer()">add</md-button>
        </div>
    </div>
    <div class="viewPersonContainer paddingContainer">
        <h2 class="sectionLabel">Summary</h2>
        <hr>
        <div>
            <p class="displayInline" editable-text="Person.contact.birthday" e-placeholder="Birthdate">Birthday: {{Person.bio.birthday || "Birthday"}}, </p>
            <p class="displayInline" editable-text="Person.contact.age" e-placeholder="Age">{{Person.bio.age || "Age"}} years old, </p>
            <p class="displayInline" editable-text="Person.contact.gender" e-placeholder="Gender">{{Person.bio.gender || "Gender"}}</p>
        </div>
        <div ng-repeat="address in Person.contact.physicalAddresses">
            <p class="displayInline" editable-text="address.street" e-form="streetForm" shown="true" e-placeholder="Enter Street" ng-click="streetForm.$show()" ng-show="!streetForm.$visible">{{address.street || "Street"}} </p>
            <form editable-form name="streetForm" shown="$last && address.isNew" ng-show="streetForm.$visible">
                <button type="submit">save</button>
                <button type="button" ng-click="streetForm.$cancel()">cancel</button>
            </form>
            <p class="displayInline" editable-text="address.city" e-form="cityForm" shown="true" e-placeholder="Enter City" ng-click="cityForm.$show()" ng-show="!cityForm.$visible">{{address.city || "City"}}, </p>
            <form editable-form name="cityForm" shown="$last && address.isNew" ng-show="cityForm.$visible">
                <button type="submit">save</button>
                <button type="button" ng-click="cityForm.$cancel()">cancel</button>
            </form>
            <p class="displayInline" editable-text="address.state" e-form="stateForm" shown="true" e-placeholder="Enter State" ng-click="stateForm.$show()" ng-show="!stateForm.$visible">{{address.state || "State"}} </p>
            <form editable-form name="stateForm" shown="$last && address.isNew" ng-show="stateForm.$visible">
                <button type="submit">save</button>
                <button type="button" ng-click="stateForm.$cancel()">cancel</button>
            </form>
            <p class="displayInline" editable-text="address.zipCode" e-form="zipCodeForm" shown="true" e-placeholder="Enter Zipcode" ng-click="zipCodeForm.$show()" ng-show="!zipCodeForm.$visible">{{address.zipCode || "Zipcode"}}</p>
            <form editable-form name="zipCodeForm" shown="$last && address.isNew" ng-show="zipCodeForm.$visible">
                <button type="submit">save</button>
                <button type="button" ng-click="zipCodeForm.$cancel()">cancel</button>
            </form>
        </div>
        <p editable-textarea="Person.bio.summary" e-rows="5" e-placeholder="Summary">{{Person.bio.summary || "Bio Summary"}}</p>
        <!--the width of the text area can be set by using e-cols="X"-->
        <div class="centerAllTheButtons">
            <md-button class="centeredViewButton" ng-click="addAddress()">add</md-button>
        </div>
    </div>
    <div class="viewPersonContainer paddingContainer">
        <h2 class="sectionLabel">Interests</h2>
        <hr>
        <ul class="displayInlineBlock" ng-repeat="note in Person.bio.interests">
            <li editable-text="note.name" e-form="interestsForm" shown="true" e-placeholder="Enter Interest" ng-click="interestsForm.$show()" ng-show="!interestsForm.$visible"> {{note.name || "Interest"}} </li>
            <form editable-form name="interestsForm" shown="$last && note.isNew" ng-show="interestsForm.$visible">
                <button type="submit">save</button>
                <button type="button" ng-click="interestsForm.$cancel()">cancel</button>
            </form>
        </ul>
        <br>
        <div class="centerAllTheButtons">
            <md-button class="centeredViewButton" ng-click="addInterest()">add</md-button>
        </div>
    </div>
    <div class="viewPersonContainer paddingContainer">
        <h2 class="sectionLabel">Education</h2>
        <hr>
        <div ng-repeat="school in Person.education">
            <p editable-text="school.institution" e-form="institutionForm" shown="true" e-placeholder="Enter Institution" ng-click="institutionForm.$show()" ng-show="!institutionForm.$visible">{{Person.contact.givenName}}Studied at: {{school.institution || "Enter School"}} </p>
            <form editable-form name="institutionForm" shown="$last && school.isNew" ng-show="institutionForm.$visible">
                <button type="submit">save</button>
                <button type="button" ng-click="institutionForm.$cancel()">cancel</button>
            </form>
            <p editable-text="school.startDate" e-form="startDateForm" shown="true" e-placeholder="Enter Start Date" ng-click="startDateForm.$show()" ng-show="!startDateForm.$visible">From: {{school.startDate || "School Start Date"}}</p>
            <form editable-form name="startDateForm" shown="$last && school.isNew" ng-show="startDateForm.$visible">
                <button type="submit">save</button>
                <button type="button" ng-click="startDateForm.$cancel()">cancel</button>
            </form>
            <p editable-text="school.endDate" e-form="endDateForm" shown="true" e-placeholder="Enter End Date" ng-click="endDateForm.$show()" ng-show="!endDateForm.$visible">To: {{school.endDate || "School End Date"}}</p>
            <form editable-form name="endDateForm" shown="$last && school.isNew" ng-show="endDateForm.$visible">
                <button type="submit">save</button>
                <button type="button" ng-click="endDateForm.$cancel()">cancel</button>
            </form>
            <p editable-text="school.summary" e-form="summaryForm" shown="true" e-placeholder="Enter Summary" ng-click="summaryForm.$show()" ng-show="!summaryForm.$visible">{{school.summary || "School Summary"}}</p>
            <form editable-form name="summaryForm" shown="$last && school.isNew" ng-show="summaryForm.$visible">
                <button type="submit">save</button>
                <button type="button" ng-click="summaryForm.$cancel()">cancel</button>
            </form>
        </div>
        <div class="centerAllTheButtons">
            <md-button class="centeredViewButton" ng-click="addEducation()">add</md-button>
        </div>
    </div>
    <div class="viewPersonContainer paddingContainer">
        <h2 class="sectionLabel">Affiliations</h2>
        <hr>
        <div ng-repeat="affiliated in Person.affiliation">
            <div>
                <h3 class="displayInline" editable-text="affiliated.title" e-form="affiliationTitleForm" shown="true" e-placeholder="Enter Aff. Title" ng-click="affiliationTitleForm.$show()" ng-show="!affiliationTitleForm.$visible">{{affiliated.title || "Aff. Title"}}, at </h3>
                <form editable-form name="affiliationTitleForm" shown="$last && affiliated.isNew" ng-show="affiliationTitleForm.$visible">
                    <button type="submit">save</button>
                    <button type="button" ng-click="affiliationTitleForm.$cancel()">cancel</button>
                </form>
                <h3 class="displayInline" editable-text="affiliated.name" e-form="affiliationNameForm" shown="true" e-placeholder="Enter Aff. Name" ng-click="affiliationNameForm.$show()" ng-show="!affiliationNameForm.$visible">{{affiliated.name || "Aff. Name"}}</h3>
                <form editable-form name="affiliationNameForm" shown="$last && affiliated.isNew" ng-show="affiliationNameForm.$visible">
                    <button type="submit">save</button>
                    <button type="button" ng-click="affiliationNameForm.$cancel()">cancel</button>
                </form>
            </div>
            <p editable-text="affiliated.summary" e-form="affiliationSummaryForm" shown="true" e-placeholder="Enter Aff. Summary" ng-click="affiliationSummaryForm.$show()" ng-show="!affiliationSummaryForm.$visible">{{affiliated.summary || "Aff. Summary"}}</p>
            <form editable-form name="affiliationSummaryForm" shown="$last && affiliated.isNew" ng-show="affiliationSummaryForm.$visible">
                <button type="submit">save</button>
                <button type="button" ng-click="affiliationSummaryForm.$cancel()">cancel</button>
            </form>
            <hr>
        </div>
        <div class="centerAllTheButtons">
            <md-button class="centeredViewButton" ng-click="addAffiliation()">add</md-button>
        </div>
    </div>
    <div class="viewPersonContainer paddingContainer">
        <h2 class="sectionLabel">Recent News Coverage</h2>
        <hr>
        <div ng-repeat="article in Person.newsCoverage">
            <div>
                <p editable-text="article.summary" e-form="articleSummaryForm" shown="true" e-placeholder="Enter Article Summary" ng-click="articleSummaryForm.$show()" ng-show="!articleSummaryForm.$visible">{{article.summary || "Article Summary"}}</p>
                <form editable-form name="articleSummaryForm" shown="$last && article.isNew" ng-show="articleSummaryForm.$visible">
                    <button type="submit">save</button>
                    <button type="button" ng-click="articleSummaryForm.$cancel()">cancel</button>
                </form>
                <div>
                    <p class="displayInline">Link to article <a href={{article.url}}>{{article.url || "Artice URL"}}</a></p>
                    <p class="editurl" editable-text="article.url" e-form="articleurlForm" shown="true" e-placeholder="Enter URL" ng-click="articleurlForm.$show()" ng-show="!articleurlForm.$visible">Edit URL</p>
                    <form editable-form name="articleurlForm" shown="$last && article.isNew" ng-show="articleurlForm.$visible">
                        <button type="submit">save</button>
                        <button type="button" ng-click="articleurlForm.$cancel()">cancel</button>
                    </form>
                </div>
                <hr>
            </div>
        </div>
        <div class="centerAllTheButtons">
            <md-button class="centeredViewButton" ng-click="addArticle()">add</md-button>
        </div>
    </div>
    <div class="viewPersonContainer paddingContainer">
        <h2 class="sectionLabel">Relationships</h2>
        <hr>
        <div ng-repeat="relation in Person.relationships">
            <div>
                <h3 class="displayInline" editable-text="relation.name" e-form="nameForm" shown="true" e-placeholder="Enter Rel. Name" ng-click="nameForm.$show()" ng-show="!nameForm.$visible">{{relation.name || "Rel. Name"}}, </h3>
                <form editable-form name="nameForm" shown="$last && relation.isNew" ng-show="nameForm.$visible">
                    <button type="submit">save</button>
                    <button type="button" ng-click="nameForm.$cancel()">cancel</button>
                </form>
                <h3 class="displayInline" editable-text="relation.relationship" e-form="relationshipForm" shown="true" e-placeholder="Enter Relationship" ng-click="relationshipForm.$show()" ng-show="!relationshipForm.$visible">{{relation.relationship || "Relationship"}}</h3>
                <form editable-form name="relationshipForm" shown="$last && relation.isNew" ng-show="relationshipForm.$visible">
                    <button type="submit">save</button>
                    <button type="button" ng-click="relationshipForm.$cancel()">cancel</button>
                </form>
            </div>
            <p editable-text="relation.summary" e-form="summaryForm" shown="true" e-placeholder="Enter Rel. Summary" ng-click="summaryForm.$show()" ng-show="!summaryForm.$visible">{{relation.summary || "Rel. Summary"}}</p>
            <form editable-form name="summaryForm" shown="$last && relation.isNew" ng-show="summaryForm.$visible">
                <button type="submit">save</button>
                <button type="button" ng-click="summaryForm.$cancel()">cancel</button>
            </form>
            <hr>
        </div>
        <div class="centerAllTheButtons">
            <md-button class="centeredViewButton" ng-click="addRelationship()">add</md-button>
        </div>
    </div>
    <div class="viewPersonContainer paddingContainer">
        <h2 class="sectionLabel">Medical</h2>
        <hr>
        <p editable-text="Person.medical">{{Person.medical || "Medical Summary"}}</p>
    </div>
    <div class="viewPersonContainer paddingContainer">
        <h2 class="sectionLabel">Notes</h2>
        <hr>
        <p editable-text="Person.notes">{{Person.notes || "Note"}}</p>
    </div>
    <div class="viewPersonContainer paddingContainer">
        <div class="centerAllTheButtons">
            <md-button class="centeredViewButton" ng-click="submitProfileChanges($event)">Submit Changes</md-button>
        </div>
    </div>
</section>